$blackBG: black;

body {
  padding: 0;
  margin: 0;
  background-color: #8c70ac;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cg fill='%23ffffff' fill-opacity='0.24'%3E%3Cpolygon fill-rule='evenodd' points='8 4 12 6 8 8 6 12 4 8 0 6 4 4 6 0 8 4'/%3E%3C/g%3E%3C/svg%3E");
  overflow-x: hidden;
}

.header {
  height: 100vh;
  width: 100vw;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;

  .video-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    height: 350px;
    width: 650px;
    padding: 25px;
    background-color: rgb(165, 127, 255);
    border-radius: 15px;
    border-style: solid;
    border-color: #823ed1;
    filter: drop-shadow(0 0 0.75rem rgb(66, 66, 66));

    .video-header {
      height: 350px;
      width: 650px;
    }
  }
}
