@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
body {
  padding: 0;
  margin: 0;
  background-color: #8c70ac;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cg fill='%23ffffff' fill-opacity='0.24'%3E%3Cpolygon fill-rule='evenodd' points='8 4 12 6 8 8 6 12 4 8 0 6 4 4 6 0 8 4'/%3E%3C/g%3E%3C/svg%3E");
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
}

.header {
  position: relative;
  height: 100vh;
  width: 100vw;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
  overflow-x: hidden;
}
.header .video-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
  height: 350px;
  width: 650px;
  padding: 25px;
  background-color: rgb(165, 127, 255);
  border-radius: 15px;
  border-style: solid;
  border-color: #823ed1;
  filter: drop-shadow(0 0 0.75rem rgb(66, 66, 66));
}
.header .video-wrapper .video-header {
  height: 350px;
  width: 650px;
}
.header .show-controls {
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  bottom: 25px;
  background-color: rgba(245, 245, 220, 0);
  height: 120px;
  width: 620px;
  text-align: center;
  align-items: end;
  color: white;
  opacity: 0;
  font-size: 25px;
  transition: all 0.4s ease-out 0.5s;
}
.header .show-controls .progress-range {
  width: 100%;
  height: 4px;
  background-color: rgb(68, 68, 68);
}
.header .show-controls .progress-bar {
  width: 0;
  height: 4px;
  background-color: rgb(54, 133, 235);
}
.header .show-controls .control-group {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  width: 600px;
  padding: 10px;
  background-color: rgba(73, 73, 72, 0.623);
}
.header .show-controls .control-group .controls-left {
  display: flex;
  flex-direction: row;
  gap: 15px;
}
.header .show-controls .control-group .controls-left .valume-class {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
  gap: 5px;
}
.header .show-controls .control-group .controls-left .valume-class .valume-range {
  width: 75px;
  height: 5px;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
}
.header .show-controls .control-group .controls-left .valume-class .volume-bar {
  width: 65%;
  height: 5px;
  border-radius: 5px;
  background-color: rgb(0, 0, 0);
}
.header .show-controls .control-group .controls-right {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
  gap: 15px;
}
@media screen and (max-width: 769px) {
  .header .video-wrapper {
    text-align: center;
    align-items: center;
    height: 150px;
    width: 250px;
    padding: 25px;
  }
  .header .video-wrapper .video-header {
    height: 170px;
    width: 250px;
  }
  .header .show-controls {
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    bottom: 25px;
    background-color: rgba(245, 245, 220, 0);
    height: 50px;
    width: 250px;
    text-align: center;
    align-items: end;
    color: white;
    opacity: 0;
    font-size: 8px;
    transition: all 0.4s ease-out 0.5s;
  }
  .header .show-controls .control-group {
    padding-left: 5px;
    padding-right: 5px;
    width: 240px;
    background-color: rgba(73, 73, 72, 0.623);
  }
}

.show-controls:hover {
  opacity: 1;
  transition: all 0.1s ease-out 0.2s;
}

/*# sourceMappingURL=style.css.map */
